<?php
class Conf {
    
    /**
     *  Permet le stockage de plusieur base de donnée par exemple pour switcher
     *  entre un environnement de production et développement.
     */
    static  $databases = array(
                'default' => array(
                    'host'      => 'localhost',
                    'port'      => 5432,
                    'dbname'    => 'urbanetwork',
                    'login'     => 'root',
                    'password'  => ''
                )
            );
}

?>
